@font-face {
  font-family: Kanit;
  src: url(fonts/Kanit-Regular.ttf);
}

body {
  font-family: Kanit;
}

.header {
  position: relative;
}

.header > .logo {
  position: absolute;
  z-index: 100;
  width: 180px;
  top: 10px;
  left: 10px;
}

.banner {
  display: flex;
  margin: -8px;
  height: 150px;
  background-color: #c6d1d5;
  position: relative;
}

.banner > .banner-orange {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 20px;
  background-color: #fe914c;
}

.banner > .banner-black {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 20px;
  background-color: #000104;
}

.content-center {
  width: 100%;
  text-align: center;
}

.table {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  border-collapse: collapse;
}

.border {
  border: 1px solid #000000;
}

.button {
  background-color: #fe914c;
  border-color: #fe914c;
  color: #000104;
  text-align: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
}


.bg-image {
  background-image: url("imgs/bg.jpg");
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem 0rem;

}

.row-item {
  margin: 0px 2rem;
  width: 200px;
  height: 200px;
}

.row-item h3 {
  padding-top: 20px;
}

.orange {
  position: absolute;
  z-index: -10;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #fe914c;
}

.gray {
  position: absolute;
  z-index: -10;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #cccccc;
}

.desc {
  padding: 0px 10px;
}
/*เพิ่ง-เพิ่ม*/
li {
  margin-right: 40px;
  display: inline;
  
}

li a {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  
}

li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  background-image: linear-gradient(to right, #020024, #791d09 );
  bottom: -5px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 25px;
  transition: .3s;
}

li a:hover::after {
  width: 100%;
  height: 3px;
}

.item_button {
  background-color: #fe914c;
  border: #fe914c;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

.item_button:hover {
  background-color: #fe914c; 
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fe914c;
  width: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
p{
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

li a {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
img{
  width: 50%
}
.btn-primary{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #c9c010;
}
.col-12{
  border: medium none;
  background: #fe914c none ;
  width: 450px;
  height: auto;
  text-align: center;
}